/* Fonts for Restaurants: Libre Baskerville, Merienda, Cookie
1. https://www.creativebloq.com/inspiration/10-mouth-watering-restaurant-menu-fonts 
2. https://theprintauthority.com/10-delicious-restaurant-menu-fonts/ */

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Libre+Baskerville&family=Merienda&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main, form, #menu, .menu-cards {
  width: 100vw;
} */

/* Body had a pre-built margin of 8px that made the main element unaligned. Pre-built properties are difficult to detect unless you use Google Chrome Dev Tools.*/
body {
  margin: 0;
}

:root {
  /* --waterfall-blue: hsl(230, 50%, 50%); */
  /* --nature-green: green; */

  --closure-red: #c74715;
  --disclaimer-wood: rgb(193, 154, 107);
  --nature-dark-green:	rgb(145, 178, 71);
  --nature-green:	rgba(145, 178, 71, 0.9);
  --nature-light-green: rgba(145, 178, 71, 0.35);
  --waterfall-blue: #169deb;
}

h1 {
  font-weight: 70;
  font-family: 'Merienda', cursive;
}

p, li:not(first-of-type), button, span {
  font-family: 'Libre Baskerville', serif;
}

/* Nature Color Palette (Green) is probably better than the typical Restaurant Palette (red/yellow) in this case, since people visit Yellowstone for nature and not for food. 

Blue is not recommended, but it matches with the Old Faithful Geyser + Deluge name. Change name or keep blue.

Color Palettes:
1. Green/Brown (Nature) or Orange/Yellow (vegetables): https://upserve.com/restaurant-insider/customer-loyalty-and-restaurant-colors/
2. Earthy Color Scheme (Brown, olive green, beige, umber, dark orange): https://www.webstaurantstore.com/blog/1884/interior-color-choices-and-your-restaurants-message.html 

Wood = https://rgbcolorcode.com/color/wood-brown#:~:text=The%20hexadecimal%20RGB%20code%20of,component%20(107%2F256).
Nature = https://www.schemecolor.com/nature-natural-colors.php

Random Green = https://www.rapidtables.com/web/color/green-color.html

*/


/* Navigation Bar */

/* Alternatively, use var(--nature-green) and change name to Escapade or var(--disclaimer-wood) and Mammoth Morsels */
.nav-placeholder {
  opacity: 0;
  
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 50px;
}

nav {
  /* background-color: var(--waterfall-blue); */
  background-color: var(--nature-green);
  /* border-bottom: solid rgba(112, 139, 53, 1); */

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;

  z-index: 51;
}

a {
  color: white;
  text-decoration: none;
}

/* Put the unordered list in a flexbox so the individual li items are lined up. Putting nav as flex will only affect the ul items, not the li items. */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style-type: none;
}

li:first-of-type {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 0px 15px;

  font-size: 33.5px;
  font-family: 'Cookie', cursive;
  letter-spacing: 1.5px;
}

li:last-of-type {
  font-size: 20px;
  margin-right: 20px;
}


@media (min-width: 641px) {

    li:not(first-of-type) {
      padding: 0 15px;
      font-size: 20px;
    }
}

@media (max-width: 640px) {

  li:nth-of-type(2){
    display: none;
  }

  li:nth-of-type(3), li:nth-of-type(4), li:nth-of-type(5) {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 540px) {

  li:nth-of-type(2), li:nth-of-type(4) {
    display: none;
  }
  
  li:nth-of-type(3), li:nth-of-type(5) {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 440px) {

  li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4) {
    display: none;
  }
  
  li:nth-of-type(5) {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 340px) {

  li:first-of-type {
    position: absolute;
    visibility: visible;
    top: 10px;
    left: 10px;
    padding: 0 15px;
    font-size: 25px;
  }

  li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4), li:nth-of-type(5) {
    visibility: hidden;
  }

}

/* Covid-Notice */

.covid-notice {
  animation: appear 0.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;

  background-color: var(--closure-red);
  border-style: groove;
  border-color: none;
  border-radius: 10px;
  float: left;
  font-size: 25px;
  padding: 20px;

  position: fixed;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

@media (max-width: 768px) {
  .covid-close-notice {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

header strong {
  color: var(--nature-green);
}


/* Close Covid Notice Button */
.covid-close-notice {
  background-color: var(--closure-red);
  border: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  padding: 20px;
  z-index: -1;
}

.covid-close-notice:hover {
  cursor: pointer;
}

.covid-notice.disappear {
  animation: disappear 0.5s ease-in;
  animation-fill-mode: forwards;
}


/* Blur Content for Covid Notice */

/* @keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes blur {
  from {
    filter: blur(0);
    opacity: 1;
    background-color: none;
  }
  to {
    filter: blur(2px);
    opacity: 0.5;
  }
}

@keyframes no-blur {
  from {
    filter: blur(2px);
    opacity: 0.5;
  }

  to {
    filter: blur(0);
    opacity: 1;
    background-color: none;
  }
} */


/* Main Document */

main {
  animation: blur 0.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  width: 100vw;
  height: auto;
  margin: 50px 0 0 0;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;

  display: grid;
  grid-auto-rows: auto auto auto auto;
  /* grid-row-gap: 50px; */
}

main.no-blur {
  animation: no-blur 0.5s ease-in;
  animation-fill-mode: forwards;
  width: 100vw;
  margin: 50px 0 0 0;
  padding: 0;
  position: relative;
  left: 0;

  display: grid;
  grid-auto-rows: auto auto auto auto;
  /* grid-row-gap: 50px; */
}


/* landing-page */

/* .landing-page {
  
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  padding-bottom: 0;

  background-color: hsl(181, 100%, 97%);
  
  
} */

.landing-page {
  display: block;
  height: 500px;
  margin-bottom: 0;
  padding-bottom: 0;

  
  
  /* border-bottom-style: groove; */
}

/* .landing-page div {
  height: 100%;
} */

.landing-page-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--waterfall-blue);
  

  z-index: 2;
}

.landing-page-text::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 5px;
  height: 300px;
  width: 100%;
  padding-right: 20px;

  background-color: var(--nature-green);
  border-radius: 20px;
  opacity: 0.7;
}

.landing-page img {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  opacity: 0.8;
  object-fit: cover;

  /* Auto-resize an Image to Fit a Div  https://www.tutorialrepublic.com/faq/how-to-auto-resize-an-image-to-fit-into-a-div-container-using-css.php#:~:text=Answer%3A%20Use%20the%20CSS%20max,while%20maintaining%20its%20aspect%20ratio. */
  width: 100%;
  display: block;

}

/* .landing-page div img:first-of-type {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  object-fit: cover;

  Auto-resize an Image to Fit a Div  https://www.tutorialrepublic.com/faq/how-to-auto-resize-an-image-to-fit-into-a-div-container-using-css.php#:~:text=Answer%3A%20Use%20the%20CSS%20max,while%20maintaining%20its%20aspect%20ratio.
  max-width: 100%;
  max-height: 100%;
  display: block;
} */

/* .landing-page img:last-of-type {
  Flip an image - https://css-tricks.com/snippets/css/flip-an-image/ 
  position: relative;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1; 
  height: 350px;

  Image by <a href="https://pixabay.com/users/Engin_Akyurt-3656355/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2776824">Engin Akyurt</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2776824">Pixabay</a> */
  /* transform: rotateY(180deg);
  object-fit: cover;
  /* rotateZ(90deg) 
} */


.landing-page h1, .landing-page p, .landing-page-text div {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-45%);
  height: auto;

  color: black;
  font-weight: 8000;
  z-index: 3;
}

.landing-page h1 {
  font-size: 250%;
  margin: 20px 0 0 0;
  width: 350px;
}

.landing-page p {
  font-size: 150%;
  margin: 14px 0;
  width: 355px;
}

.landing-page button {
  margin: 0px 20px 0 0;
  padding: 5px 10px;
  background-color: var(--disclaimer-wood);
  border-radius: 6px;

  position: relative;
  left: 0%;
  opacity: 0.8;
}

.landing-page button a {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.landing-page button:last-of-type {
  width: 125px;
}



/* Menu Cards */

.menu-cards {
  height: auto;
  width: 100vw;
  padding: 20px 0 20px 0;
  /* background-color: hsl(181, 100%, 87%); */
  background-color: var(--nature-green);
  font-family: 'Libre Baskerville', serif;
}


.menu-cards h1 {
  font-size: 25px;
  font-weight: 100;
  position: relative;
  top: 7px;
  left: 2px;
}

.menu-cards img {
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 15px;
  /* max-width: 400px;
  max-height: 400px; */
}

.menu-cards div {
  padding: 0 25px;
}

@media (min-width: 993px) {
    .menu-cards {
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 20px;

      grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

@media (max-width: 992px) {
  .menu-cards {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 768px) {
  .menu-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .menu-cards img, .menu-cards h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 75%;
    max-height: 75%;
  }
}


/* Actual Menu */

.menu h1 {
  text-align: center;
  position: relative;
  top: 30px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.menu div {
  padding: 30px 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* display: grid;
  grid-template-columns: 33.3333333% 33.3333333% 33.3333333%; */
}

.menu div:last-of-type {
  padding-bottom: 55px;
}

.menu p:first-of-type {
  position: relative;
  left: 50px;

  font-size: 25px;
}

.menu p {
  justify-content: flex-start;
  /* padding: 0 25px; */
}

.menu p:nth-of-type(1)::after {
  content: "";
  background-color: yellow;
  font-style: italic;

  font-size: 20px;

  position: relative;
  top: 20px;
  left: -35px;
}

.menu div:first-of-type p:first-of-type::after {
  content: "Gyros inspired by Greece.";
}

.menu div:nth-of-type(2) p:first-of-type::after {
  content: "Your choice of mozzarella cheese, pepperoni, or vegetarian.";
}

.menu div:nth-of-type(3) p:first-of-type::after {
  content: "Hamburger, cheeseburger, etc.";
}

.menu div:nth-of-type(4) p:first-of-type::after {
  content: "Chicken-fried steak.";
}

.menu div:nth-of-type(5) p:first-of-type::after {
  content: "Enjoy the fruits of a bountiful harvest.";
}

.menu div:nth-of-type(6) p:nth-of-type(1)::after {
  content: "Delicate frozen treat.";
}

.menu div:nth-of-type(7) p:first-of-type::after {
  content: "Coca-Cola, Diet Coke, Pepsi, Diet Pepsi, Sprite, Water, Apple Juice, Orange Juice, Milk, Chocolate Milk, Tea, Coffee.";
}


@media (min-width: 836px) {

  .menu p:nth-of-type(2) {
    font-size: 20px;
    position: relative;
    top: 5px;
    justify-content: center;
    align-items: center;
  }

  .menu p:nth-of-type(2)::before {
    /* content: "..................................................................................................."; */
    /* content: "...................................................................."; */
    font-style: italic;

    position: absolute;
    top: 16px;
    right: 0px;
    z-index: -10;
  }
}

@media (min-width: 836px) {

    .menu p {
      margin: 0;
      position: relative;
    }

    /* https://www.w3schools.com/css/css3_images.asp */
    .menu img {
      position: relative;
      max-width: 33.33%;
      max-height: 33.33%;
    }

}

@media (max-width: 835px) {
    .menu div {
      display: grid;
      grid-template-rows: auto auto auto auto auto auto auto;
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .menu p {
      padding: 0 10%;
    }

    

    .menu p:nth-of-type(2) {
      text-align: center;
    }

    .menu {
      width: 75vw;
      transform: translateX(12.5%);
    }

    .menu img {
      max-width: 100%;
      max-height: 100%;
    }
}


/* Form Borders */
form::before {
  content: '';
  position: absolute;
  top: 30px;
  height: 850px;
  width: 500px;
  z-index: 2;

  /* border: dotted; */
  box-shadow: 0 0 100px rgba(88, 109, 42, 0.65);
  background-color: var(--nature-light-green);
  border-radius: 20px;
  /* background-color: none; */
}

@media (max-width: 600px) {

  form::before{
    content: '';
    position: absolute;
    top: 30px;
    width: 450px;
    z-index: 2;
    
    box-shadow: 0 0 50px black;
  }
  
}

@media (max-width: 530px) {

  form::before{
    content: '';
    position: absolute;
    width: 350px;
    z-index: 2;
    
    box-shadow: 0 0 50px black;
  }
  
}


/* Actual Form */

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-49%);
  height: 925px;
  margin-bottom: 0;
  opacity: 1;
  z-index: 50;
}

form h1, form span, form p, form textarea {
  z-index: 50;
}

form h1 {
  display: block;
  text-align: center;

  position: relative;
  font-size: 40px;
  top: 0px;
  padding: 0;
}

form span {
  position: relative;
  top: 15px;
  padding-bottom: 10px;
  right: 115px;
  font-size: 100%;
}


form p {
  position: relative;
  padding: 10px 0;
}

form p:first-of-type, form p:nth-of-type(2) {
  right: 129px;
  top: 20px;
  margin-top: 7px;
}

form p:nth-of-type(3) {
  right: 98px;
  top: 40px;
  /* bottom: 60px; */
}

form p:last-of-type {
  right: 122px;
  top: 45px;
  /* bottom: 80px; */
}


/* Form inputs */

form input {
  min-height: 30px;
  max-height: 60px;
  width: 300px;
  padding: 0;

  position: relative;
  z-index: 200;
}

form input:first-of-type, form input:nth-of-type(2) {
  top: 20px;
  right: 10px;
}

form input:nth-of-type(3) {
  top: 40px;
  right: 10px;
}

form textarea {
  position: relative;
  right: 10px;
  top: 40px;
  width: 300px;
  height: 300px;
}

form button {
  margin: 20px 0;
  padding: 10px;
  background-color: var(--nature-green);
  /* background-color: hsl(230, 56%, 76%); */
  border-radius: 50px;
  border: solid;
  font-weight: 8000;
  position: relative;
  top: 35px;
  transform: translateX(-10%);
}

form sup {
  color: hsl(230, 56%, 36%);
  font-weight: bold;
  font-size: 20px;
}


/* Fictional Disclaimer */
.disclaimer {
  /* background-color: tan; */
  background-color: var(--disclaimer-wood);
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 20px;

  margin: 0;
  padding: 10px 5px 10px 10px;
  height: auto;
  z-index: 51;
  
}

.disclaimer-placeholder {
  opacity: 0;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 20px;

  margin: 0;
  padding: 10px 5px 10px 10px;
  height: auto;
  z-index: 51;
}

footer strong {
  color: green;
}

footer span {
  color: black;
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
}

footer button {
  position: absolute;
  top: -22px;
  left: 0px;
  
  width: 50px;
  height: 22px;

  background-color: var(--disclaimer-wood);
  border: none;
  border-radius: 15px 15px 0 0;
  color: black;
  opacity: 0.7;
}

footer button:hover {
  transform: scale(1.1);
}