import

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body had a pre-built margin of 8px that made the main element unaligned. Pre-built properties are difficult to detect unless you use Google Chrome Dev Tools.*/
body {
  margin: 0;
}

:root {
  --navbar-blue: hsl(230, 50%, 50%);
  --closure-red: hsl(0, 100%, 70%);
}

/* Nature Color Palette (Blue/Green) is probably better than the typical Restaurant Palette (red/yellow) in this case, since people visit Yellowstone for nature and not for food. */


/* Navbar */

.nav-placeholder {
  opacity: 0;
  
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 50px;
}

nav {
  background-color: var(--navbar-blue);

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 50px;

  z-index: 5;
}

a {
  color: white;
  text-decoration: none;
}

/* Put the unordered list in a flexbox so the individual li items are lined up. Putting nav as flex will only affect the ul items, not the li items. */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style-type: none;
}

li:first-of-type {
  position: absolute;
  visibility: visible;
  top: 10px;
  left: 10px;
  padding: 0 15px;
  font-size: 25px;
}

li:last-of-type {
  font-size: 20px;
  margin-right: 20px;
}

@media (min-width: 641px) {

    li:not(first-of-type) {
      padding: 0 15px;
      font-size: 20px;
    }
}

@media (max-width: 640px) {

  li:nth-of-type(2){
    display: none;
  }

  li:nth-of-type(3), li:nth-of-type(4), li:nth-of-type(5) {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 540px) {

  li:nth-of-type(2), li:nth-of-type(4) {
    display: none;
  }
  
  li:nth-of-type(3), li:nth-of-type(5) {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 440px) {

  li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4) {
    display: none;
  }
  
  li:nth-of-type(5) {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 340px) {

  li:first-of-type {
    position: absolute;
    visibility: visible;
    top: 10px;
    left: 10px;
    padding: 0 15px;
    font-size: 25px;
  }

  li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4), li:nth-of-type(5) {
    visibility: hidden;
  }

}

/* Covid-Notice */

.covid-notice {
  animation: appear 0.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;

  background-color: var(--closure-red);
  border-style: groove;
  border-color: none;
  border-radius: 10px;
  float: left;
  font-size: 25px;
  padding: 20px;

  position: absolute;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

@media (max-width: 768px) {
  .covid-close-notice {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

header strong {
  color: blue;
}


/* Close Covid Notice Button */
.covid-close-notice {
  background-color: var(--closure-red);
  border: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  padding: 20px;
  z-index: -1;
}

.covid-close-notice:hover {
  cursor: pointer;
}

.covid-notice.disappear {
  animation: disappear 0.5s ease-in;
  animation-fill-mode: forwards;
}


/* Blur Content for Covid Notice */

/* @keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes blur {
  from {
    filter: blur(0);
    opacity: 1;
    background-color: none;
  }
  to {
    filter: blur(15px);
    opacity: 0.6;
    background-color: black;
  }
}

@keyframes no-blur {
  from {
    filter: blur(15px);
    opacity: 0.6;
    background-color: black;
  }
  to {
    filter: blur(0);
    opacity: 1;
    background-color: none;
  }
} */


/* Main Document */

main {
  animation: blur 0.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  max-width: 100vw;
  height: auto;
  margin: 50px 0 0 0;
  padding: 0;
  position: relative;
  left: 0;

  display: grid;
  grid-auto-rows: auto auto auto auto;
  grid-row-gap: 40px;
}

main.no-blur {
  animation: no-blur 0.5s ease-in;
  animation-fill-mode: forwards;
  max-width: 100vw;
  margin: 50px 0 0 0;
  padding: 0;
  position: relative;
  left: 0;

  background-color: green;

  display: grid;
  grid-auto-rows: auto auto auto auto;
  grid-row-gap: 40px;
}


/* Carousel */

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.carousel h1, .carousel p {
  position: relative;
  left: 25px;
  height: auto;
}

.carousel h1 {
  font-size: 200%;
  margin: 20px 0 0 0;
  width: 275px;
}

.carousel p {
  font-size: 20px;
  margin: 10px 0;
  width: 275px;
}


/* Menu Cards */

/* .menu-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
} */

img {
  border: solid;
  width: 400px;
  height: 400px;
}

.menu-cards {
  height: auto;
}

.menu-cards div {
  padding: 0 25px;
}

@media (min-width: 641px) {
    .menu-cards {
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 20px;

      grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

@media (max-width: 640px) {
  .menu-cards {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 440px) {
  .menu-cards {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
  }
}


/* Menu */

#menu {
  border: solid;
  border-color: black;
}

#menu h1 {
  padding-top: 25px;
  text-align: center;
}

#menu div {
  padding: 20px 0;
}

#menu p {
  padding: 0 25px;
}

@media (min-width: 641px) {
    #menu div {
      display: grid;
      grid-template-rows: auto auto auto auto auto auto auto;
      grid-template-columns: 50% 50%;
    }
}

@media (max-width: 640px) {
    #menu div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    #menu p {
      margin: 0;
      text-align: left;
    }
}

/* Form */

.form {
  position: relative;
  height: auto;
}

form {
  position: relative;
  /* left: 50%;
  bottom: 109px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  /* width: 20vw;
  height: 50vh;
  transform: translateX(-50%); */
}

/* @media (max-width: 1138px) {

} */

form h3 {
  display: block;
}

form h3 {
  margin: 10px 0 0 0;
  text-align: center;
}

form p {
  float: left;
  padding: 10px 0;
}

form input.success {
  border-color: green;
}

form input.error {
  border-color: red;
}

form sup {
  color: hsl(230, 56%, 36%);
  font-weight: bold;
  font-size: 24px;
}


/* Fictional Disclaimer */
.disclaimer {
  background-color: tan;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 20px;
  padding: 0 5px 0 10px;
  height: auto;
}

.disclaimer-placeholder {
  opacity: 0;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 20px;
  padding: 0 5px 0 10px;
  height: auto;
}

footer strong {
  color: purple;
}

footer button {
  position: absolute;
  top: -22px;
  left: 0px;
  
  width: 50px;
  height: 22px;

  background-color: tan;
  border: none;
  border-radius: 15px 15px 0 0;
  color: black;
  font-family: arial;
  opacity: 0.7;
}

footer button:hover {
  transform: scale(1.1);
  color: white;
}